
## Problem Statement:

Restaurants from all over the world can be found here in Bengaluru. From the United States to Japan, Russia to Antarctica, you get all types of cuisines here. Delivery, Dine-out, Pubs, Bars, Drinks, Buffet, Desserts you name it and Bengaluru has it. Bengaluru is the best place for foodies. The number of restaurants is increasing day by day. Currently, it stands at approximately 12,000 restaurants. With such a high number of restaurants. This industry hasn't been saturated yet. And new restaurants are opening every day. However, it has become difficult for them to compete with already established restaurants. The key issues that continue to pose a challenge to them include high real estate costs, rising food costs, shortage of quality manpower, fragmented supply chain, and over-licensing. This Zomato data aims at analyzing the demography of the location. Most importantly it will help new restaurants in deciding their theme, menus, cuisine, cost, etc for a particular location. It also aims at finding similarities between neighborhoods of Bengaluru on the basis of food. The dataset also contains reviews for each of the restaurants which will help in finding the overall rating for the place.


## Aim:

The basic idea of analyzing the Zomato dataset is to get a fair idea about the factors affecting the establishment of different types of restaurants at different places in Bengaluru, the aggregate rating of each restaurant, Bengaluru being one such city has more than 12,000 restaurants with restaurants serving dishes from all over the world. With each day new restaurants open the industry hasn't been saturated yet and the demand is increasing day by day. In spite of increasing demand, it however has become difficult for new restaurants to compete with established restaurants. Most of them serve the same food. Bengaluru is the IT capital of India. Most of the people here are dependent mainly on the restaurant food as they don’t have time to cook for themselves.



Use all the techniques which you are aware of and explore more, Try to find various factors that are hidden in the data.

### DATA DICTIONARY:


• **Restaurant Id:** Unique id of every restaurant across various cities of the world

• **Restaurant Name:** Name of the restaurant

• **Country Code:** Country in which restaurant is located

• **City:** City in which the restaurant is located

• **Address:** Address of the restaurant

• **Locality:** Location in the city

• **Locality Verbose:** Detailed description of the locality

• **Longitude:** Longitude coordinate of the restaurant's location

• **Latitude:** Latitude coordinate of the restaurant's location

• **Cuisines:** Cuisines offered by the restaurant

• **Average Cost for two:** Cost for two people in different currencies 

• **Currency:** Currency of the country

• **Has Table booking:** yes/no

• **Has Online delivery:** yes/ no

• **Is delivering:** yes/ no

• **Switch to order menu:** yes/no

• **Price range:** range of price of food

• **Aggregate Rating:** Average rating out of 5

• **Rating color:** depending upon the average rating color

• **Rating text:** text on the basis of rating of rating

• **Votes:** Number of ratings cast by people

### 1.Import libraries that you required and Load the data set.

In [1]:
import pandas as pd

In [2]:
import numpy as np

### 2. Check the number of rows and columns in the dataset

In [3]:
df=pd.read_csv("Zomoto.csv")
df.shape

(10000, 18)

### 3. Check the info of the given dataset

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   10000 non-null  int64
 1   url                          10000 non-null  object
 2   address                      10000 non-null  object
 3   name                         10000 non-null  object
 4   online_order                 10000 non-null  object
 5   book_table                   10000 non-null  object
 6   rate                         8528 non-null   object
 7   votes                        10000 non-null  int64
 8   phone                        9764 non-null   object
 9   location                     9997 non-null   object
 10  rest_type                    9953 non-null   object
 11  dish_liked                   4642 non-null   object
 12  cuisines                     9995 non-null   object
 13  approx_cost(for two people)  9941 non-null   object
 14  reviews_list                 10000 non-null  object
 15  menu_item                    10000 non-null  object
 16  listed_in(type)              10000 non-null  object
 17  listed_in(city)              10000 non-null  object
dtypes: int64(2), object(16)
memory usage: 1.4+ MB

In [5]:
df.head()

,Unnamed: 0,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,14221,https://www.zomato.com/bangalore/shree-ranga-v...,"366, Hosur Main Road, Attibele, Anekal Taluk, ...",Shree Ranga Vilas,No,No,3.2/5,7,080 29765044,Electronic City,Casual Dining,NaN,"North Indian, South Indian, Chinese, Juices",500,"[('Rated 3.0', 'RATED\n Typical South Indian ...",[],Dine-out,Electronic City
1,43422,https://www.zomato.com/bangalore/sphyre-gatewa...,"Gateway Hotel, 66, Residency Road, Bangalore",Sphyre - Gateway Hotel,No,No,3.6 /5,45,+91 9886643495\n+91 9898780004,Residency Road,Lounge,NaN,Finger Food,"1,700","[('Rated 1.0', 'RATED\n Expected a good night...",[],Dine-out,MG Road
2,16032,https://www.zomato.com/bangalore/popular-baker...,"19, BDA Complex, HSR, Bangalore",Popular Bakery,No,No,3.7/5,36,+91 8105834605\r\n080 25722488,HSR,"Dessert Parlor, Bakery",NaN,"Desserts, Bakery",600,"[('Rated 5.0', ""RATED\n This outlet is in HSR...",[],Delivery,HSR
3,51635,https://www.zomato.com/bangalore/thai-chinese-...,"7, Anurhh Arcade, Hoodi Road, Kodigehalli Road...",Thai & Chinese Fast Food,No,No,3.4 /5,7,+91 9206260085\n+91 7619416923,KR Puram,Quick Bites,NaN,"Chinese, Thai",400,"[('Rated 5.0', 'RATED\n Its Looking delicious...",[],Dine-out,Whitefield
4,23424,https://www.zomato.com/bangalore/grill-on-whee...,"Kothanuru Main Road, Puttenahalli Road, Natara...",Grill On Wheels,No,No,NEW,0,+91 9901979901,JP Nagar,Quick Bites,NaN,"North Indian, Chinese, BBQ, Arabian, Fast Food",400,[],[],Dine-out,JP Nagar

### 4.Which are the top 10 restaurant chains in Bangaluru?

In [6]:
df['rate'] = df['rate'].replace({'NEW': None})
df['rate']=df['rate'].str.replace('/5','')
df['rate']=pd.to_numeric(df['rate'],errors='coerce')

In [7]:
df['rate'].nunique

<bound method IndexOpsMixin.nunique of 0       3.2
1       3.6
2       3.7
3       3.4
4       NaN
       ...
9995    4.9
9996    3.3
9997    4.4
9998    3.8
9999    3.7
Name: rate, Length: 10000, dtype: float64>

How many of the restuarants are above average?¶

In [20]:
count=df[(df['rate']>(df['rate'].mean()))]
c=count.shape[0]
s=df.shape[0]
c*100/s

39.29

In [21]:
df.sort_values(by='online_order', ascending=False).head(5)

,Unnamed: 0,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
5000,33691,https://www.zomato.com/bangalore/assi-tussi-la...,"5, 6/1, Opposite, Indicash ATM, Sri Ram Temple...",Assi Tussi Lassi,Yes,No,3.6,26,+91 9066331614,Ejipura,Beverage Shop,NaN,"Beverages, Fast Food, Ice Cream",200,"[('Rated 5.0', 'RATED\n Had been there after ...","['Sweet Lassi', 'Banana Lassi', 'Strawberry La...",Desserts,Koramangala 6th Block
5864,11106,https://www.zomato.com/bangalore/pani-kum-chai...,"Swagath Main Road, Near Garuda Mall, Jayanagar...",Pani Kum Chai,Yes,No,3.9,67,+91 9886744189\r\r\n+91 9663333104,Jayanagar,Quick Bites,"Chai, Lemon Tea, Chicken Roll",Fast Food,200,"[('Rated 3.0', 'RATED\n Hi there. Hope all ha...",[],Dine-out,BTM
5858,23483,https://www.zomato.com/bangalore/thalassery-re...,"Ground Floor 9/1, Basavalingappa Nagar, Billek...",Thalassery Restaurant,Yes,No,NaN,0,+91 8088112788,Bannerghatta Road,Casual Dining,NaN,"Seafood, Biryani, South Indian, North Indian, ...",600,"[('Rated 5.0', 'RATED\n Best Kerala restauran...",[],Dine-out,JP Nagar
5857,25456,https://www.zomato.com/bangalore/chaatimes-nag...,"Next to Manyata Tech Park, Outer Ring Road, Na...",Chaatimes,Yes,No,3.6,27,+91 8884021155,Nagawara,Quick Bites,NaN,"Street Food, Fast Food",200,"[('Rated 4.0', 'RATED\n Food taste was good. ...","['Vada Pav', 'Misal Pav', 'Dahi Samosa Chaat',...",Delivery,Kammanahalli
5855,13951,https://www.zomato.com/bangalore/aamaravathi-b...,"AECS Layout, Singasandra, Electronic City, Ban...",Aamaravathi Biryani Zone,Yes,No,NaN,0,080 41177533,Electronic City,Delivery,NaN,Biryani,300,"[('Rated 5.0', 'RATED\n One of the best Birya...","['Veg Roti Combo', 'Veg Meal Combo', 'Egg Meal...",Delivery,Electronic City

### 5.How many of the restuarants do not accept online orders?

In [23]:
len(df[df["online_order"]=='No'])

4057

### 6. Online and Offline orders restaurants percentage?

In [24]:
len(df[df["online_order"]=='Yes'])*100/(len(df[df["online_order"]=='Yes'])+len(df[df["online_order"]=='No']))

59.43

In [25]:
len(df[df["online_order"]=='No'])*100/(len(df[df["online_order"]=='Yes'])+len(df[df["online_order"]=='No']))

40.57

### 7. What is the ratio b/w restaurants that provide and do not provide table booking.

In [26]:
df["book_table"].unique()

array(['No', 'Yes'], dtype=object)

In [27]:
len(df[df["book_table"]=='Yes'])/len(df[df["book_table"]=='No'])

0.14233493260223898

In [28]:
 df['rate']

0       3.2
1       3.6
2       3.7
3       3.4
4       NaN
       ...
9995    4.9
9996    3.3
9997    4.4
9998    3.8
9999    3.7
Name: rate, Length: 10000, dtype: float64

### 8. Check for missing values in rating column. Drop the missing value from the column and convert the column to numeric type. e.g "3.5/5" convert it to 3.5.

### 9. Convert the approx_cost(for two people) in numeric type after removing the ","

In [54]:
df['approx_cost(for two people)'] = df['approx_cost(for two people)'].str.replace(',', '').astype(float)
df["approx_cost(for two people)"].unique()

array([ 500., 1700.,  600.,  400.,  350.,  200., 2600.,  300.,  700.,
        150., 1400., 1200.,  800.,  900.,  250.,  650., 2000.,  100.,
       2800., 1000.,  450.,  750.,  950., 1500.,  850.,  550., 1300.,
       1650., 1100., 1600.,   nan, 2500., 2300., 2100., 2400., 3000.,
         70., 1800., 4100., 2200., 3400., 1900., 1450.,  130.,   40.,
       1050., 1350.,  180., 1250.,  120., 3500.,  230.,  469.,  199.,
       6000., 4000.,   80.])

### 10. Find the maximum, minimum and average "approx_cost(for two people)" in each  "listed_in(city)" for each "listed_in(type)"

In [55]:
df.columns

Index(['Unnamed: 0', 'url', 'address', 'name', 'online_order', 'book_table',
       'rate', 'votes', 'phone', 'location', 'rest_type', 'dish_liked',
       'cuisines', 'approx_cost(for two people)', 'reviews_list', 'menu_item',
       'listed_in(type)', 'listed_in(city)'],
      dtype='object')

In [56]:
df['listed_in(city)'].unique

<bound method Series.unique of 0             Electronic City
1                     MG Road
2                         HSR
3                  Whitefield
4                    JP Nagar
                ...
9995    Koramangala 4th Block
9996         Old Airport Road
9997             Marathahalli
9998    Koramangala 7th Block
9999    Koramangala 4th Block
Name: listed_in(city), Length: 10000, dtype: object>

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   10000 non-null  int64
 1   url                          10000 non-null  object
 2   address                      10000 non-null  object
 3   name                         10000 non-null  object
 4   online_order                 10000 non-null  object
 5   book_table                   10000 non-null  object
 6   rate                         8528 non-null   object
 7   votes                        10000 non-null  int64
 8   phone                        9764 non-null   object
 9   location                     9997 non-null   object
 10  rest_type                    9953 non-null   object
 11  dish_liked                   4642 non-null   object
 12  cuisines                     9995 non-null   object
 13  approx_cost(for two people)  9941 non-null   float64
 14  reviews_list                 10000 non-null  object
 15  menu_item                    10000 non-null  object
 16  listed_in(type)              10000 non-null  object
 17  listed_in(city)              10000 non-null  object
dtypes: float64(1), int64(2), object(15)
memory usage: 1.4+ MB

In [58]:
df['approx_cost(for two people)'].fillna(df['approx_cost(for two people)'].mean(),inplace=True)

In [61]:
import pandas as pd

# Assuming 'df' is your DataFrame
c = df.groupby(['listed_in(city)', 'listed_in(type)']).agg(
    {
        'approx_cost(for two people)': ['max', 'min', 'mean']
    }
)

# Optional: rename the columns for clarity
c.columns = ['Max Cost', 'Min Cost', 'Average Cost']

# Reset index if needed
c = c.reset_index()

# Display the result
c=pd.DataFrame(c)
c

    listed_in(city)     listed_in(type)  Max Cost  Min Cost  Average Cost
0               BTM              Buffet    1600.0     750.0   1293.750000
1               BTM               Cafes     900.0     150.0    575.000000
2               BTM            Delivery    1600.0     100.0    438.729417
3               BTM            Desserts    1200.0     100.0    390.476190
4               BTM            Dine-out    1500.0      70.0    478.832445
..              ...                 ...       ...       ...           ...
187      Whitefield            Delivery    2000.0     100.0    492.632649
188      Whitefield            Desserts     900.0     100.0    400.000000
189      Whitefield            Dine-out    3000.0     150.0    642.334939
190      Whitefield  Drinks & nightlife    2400.0    1200.0   1833.333333
191      Whitefield       Pubs and bars    1500.0     600.0   1170.000000

[192 rows x 5 columns]

### 11. Which are the most common restaurant type in Banglore (top 15)?

In [67]:
df['rest_type'].value_counts().head(15)

rest_type
Quick Bites            3625
Casual Dining          2018
Cafe                    712
Delivery                499
Dessert Parlor          443
Takeaway, Delivery      442
Bakery                  228
Casual Dining, Bar      205
Beverage Shop           150
Bar                     134
Food Court              125
Bar, Casual Dining       93
Sweet Shop               79
Casual Dining, Cafe      74
Lounge                   73
Name: count, dtype: int64

### 12. Finding Best budget Restaurants in any given location. Create a function return_budget_resturant, the arguments to this function will be location and rest_type.The function should return a budget resturants in the given loaction. The price of a good budget resturant should be less than 400 and rating should be more than 4.

input - return_budget_resturant('HSR',"Quick Bites")
output - ['Asha Tiffins', 'Hotel Salam', 'The Mylapore Cafe']

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   10000 non-null  int64
 1   url                          10000 non-null  object
 2   address                      10000 non-null  object
 3   name                         10000 non-null  object
 4   online_order                 10000 non-null  object
 5   book_table                   10000 non-null  object
 6   rate                         8528 non-null   object
 7   votes                        10000 non-null  int64
 8   phone                        9764 non-null   object
 9   location                     9997 non-null   object
 10  rest_type                    9953 non-null   object
 11  dish_liked                   4642 non-null   object
 12  cuisines                     9995 non-null   object
 13  approx_cost(for two people)  10000 non-null  float64
 14  reviews_list                 10000 non-null  object
 15  menu_item                    10000 non-null  object
 16  listed_in(type)              10000 non-null  object
 17  listed_in(city)              10000 non-null  object
dtypes: float64(1), int64(2), object(15)
memory usage: 1.4+ MB

In [76]:
# Remove '/5' from the 'rate' column and replace 'NEW' with '0'
df['rate'] = df['rate'].str.replace('/5', '', regex=False)  # Step 1
df['rate'] = df['rate'].replace('NEW', '0')
df['rate'] = df['rate'].replace('-', '0')

# Convert the 'rate' column to float
df['rate'] = df['rate'].astype(float)

In [113]:
def bud(location,res_type):
    
    return pd.DataFrame(df[(df['approx_cost(for two people)']<400) & (df['rate']>4) & (df['location'] == location) & (df['rest_type'] == res_type)]['name'].unique())

In [114]:
def return_budget_restaurant(location, rest_type):
    # Filter restaurants by location and restaurant type
    filtered_df = df[(df['location'] == location) & (df['rest_type'] == rest_type)]
    
    # Filter further for budget restaurants (cost < 400 and rating > 4)
    budget_restaurants = filtered_df[(df['approx_cost(for two people)'] < 400) & (df['rate'] > 4)]
    
    c=budget_restaurants['name'].tolist()
    b=[]
    for x in c:
        if x not in b:
            b.append(x)
    return b

In [115]:
return_budget_restaurant('HSR',"Quick Bites")

C:\Users\DELL\AppData\Local\Temp\ipykernel_11728\2028108155.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  budget_restaurants = filtered_df[(df['approx_cost(for two people)'] < 400) & (df['rate'] > 4)]

['Asha Tiffins', 'The Mylapore Cafe']

In [116]:
bud('HSR',"Quick Bites")

                   0
0       Asha Tiffins
1  The Mylapore Cafe

### 13.Which are the most common cuisines in each locations.

In [117]:
# Group by location and cuisine, then count occurrences
cuisine_counts = df.groupby('location')['cuisines'].value_counts().reset_index(name='count')

# Find the most common cuisine in each location
most_common_cuisines = cuisine_counts.loc[cuisine_counts.groupby('location')['count'].idxmax()]

print(most_common_cuisines)

               location                                           cuisines  \
0                   BTM                                       North Indian
261        Banashankari                             Cafe, Mexican, Italian
335           Banaswadi                              North Indian, Chinese
405   Bannerghatta Road                              North Indian, Chinese
539        Basavanagudi                                       South Indian
...                 ...                                                ...
4086     West Bangalore  Healthy Food, Chinese, Biryani, North Indian, ...
4087         Whitefield                                       North Indian
4257      Wilson Garden                                       North Indian
4281          Yelahanka                              South Indian, Biryani
4282        Yeshwantpur                South Indian, North Indian, Chinese

      count
0        69
261      11
335       8
405      29
539      10
...     ...
4086      1
4087     38
4257      9
4281      1
4282      3

[89 rows x 3 columns]

### 14. Which is  the most popular cuisine of Bangalore?

In [118]:
cuisines_counts = df['cuisines'].value_counts()

# Find the most popular cuisine
most_popular_cuisine = cuisines_counts.idxmax()

print(most_popular_cuisine)

North Indian